<article class="post post-content">
    <p>{{content}}</p>
    <div class="info">
        {{time}} {{#if isAuthor}}| <a href="#/delComment/:{{_id}}" class="deleteLink">delete</a>{{/if}}
    </div>
</article>